.container{
    max-width: 95%;
    margin: 0 2rem;
}
.-active{
    border-bottom: 4px #fff solid;
}
.active{
    border-bottom: 2px solid #4673E4;
}
/* padding */
.pd-50{
    padding: 50px 0;
} 
/* margin */
.mgtop-20{
    margin-top: 20px;
}
.mgrt-5{
    margin-right: 5px;
}
.col{
    display: flex;;
    /* margin-left: 180px; */
    justify-content: space-between;
    width: 30%;
}
.col-1{
    display: flex;
    margin-top: 10px;
}
.col-2{
    padding: 20px 0;
    display: flex;
}
.column-1{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.04);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
} 
.mg-5{
    margin: 0 30px;
}
.text-center{
    align-self: center;
    text-align: center;
}
/* button{
    border: .5px solid #979D9F;
    outline: none;
} */