.auth-container{
    display: flex;
    background-color: #FFFFFF;
    height: 100%;
    /* justify-content: space-between; */
}
.auth-slide-1{
    width: 42%;
    height: 100vh;
    background-color: rgba(36, 104, 235, 0.81);
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
}
.circle-1{
    position: absolute;
    bottom: 0;
    left: 0;
}
.auth-content{
    margin-top: 100px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
}
.auth-header > img{
    width: 50px;
    height: 50px;
}
.auth-header > span{
    position: fixed;
    margin: 11px 5px;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
.auth-tittle{
    width: 339px;
    height: 114px;
    font-size: 48px;
    line-height: 57px;
    color: #FFFFFF;
}
.auth-cards{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.auth-card-1{
    width: 144px;
    height: 105px;
    background-color: #FFFFFF;
    border-radius: 5px;
}
.auth-card-1:nth-child(2){
    margin: 0 5px;
}
.auth-cards-img1{
    width: 50px;
    height: 50px;
    position: fixed;
    margin-top: -17.1px;
    margin-left: 80px;
}
.auth-cards-tittle{
    display: flex;
    margin: 30px 20px;
}
.auth-cards-tittle > img{
    background-color: rgba(70, 115, 228, 0.1);
    clip-path: circle();
    padding: 5px;
}
.auth-cards-tittle > p{
    font-family: Quattrocento Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12.5px;
    margin-left: 10px;
    color: #5F5F60;
}
.auth-cards-img3{
    width: 100px;
    height: 100px;
    position: absolute;
    margin-left: 20px;
    margin-top: -40px;
    background: rgba(255, 255, 255, 0.37);
    clip-path: circle();
}
.auth-cards-img2{
    position: absolute;
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-top: -70px;
    transform: rotate(60deg);
    background: rgba(255, 255, 255, 0.39);
}
.auth-cards-note{
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 50px;
}

.auth-slide-2{
    text-align: center;
    justify-items: center;
    justify-content: center;
    justify-self: center;
    align-content: center;
    margin: 15px auto;
    background-color: #FFFFFF;
}
.auth-slide-2-form-tittle{
    display: flex;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}
.auth-slide-2-form-tittle h2{
    margin-left: 15px;
    font-size: 16px;
}
.auth-log-btn{ 
    width: 384px;
    height: 45px;
    background: #E7EBF1;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}
.auth-log-btn:hover{
    background: #c3c7ce;
}
.auth-log-btn > img{
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: -20px;
    margin-top: -3px;
}
.auth-log-btn span{
   margin-left: 10px;
}
.form-input div > input{
    width: 384px;
    height: 45px;
    background: #E7EBF1;
    border-radius: 5px;
    width: 384px;
    height: 45px;
    border: none;
    margin-top: 15px;
    outline: none;
    padding: 0 10px;
}
.auth-create-btn{
    width: 384px;
    height: 45px;
    width: 384px;
    height: 45px;
    background: #28BA63;
    border-radius: 5px;
    margin-top: 15px;
    border: none;
    outline: none;
}
.auth-create-btn a{
    color: #FFFFFF;
}
.auth-create-btn a > img{
    float: right;
    margin-right: 20px;
}
.auth-create-btn:hover{
    background: #1a9149; 
}
.already-sign{
    margin-top: 25px;
}
.sign-btn,
.log-btn{
    border: none;
    color: #2468EB;
    background-color: transparent;
    outline: none;
}
@media screen and (max-width: 1020px){
    .auth-slide-1{
        display: none;
    }
}
@media screen and (max-width: 400px){
    .form-input div > input,
    .auth-create-btn,
    .auth-log-btn{
        width: 100%;
    }
}

