.search-note{
    background-color: #5682F3;
    border-radius: 50px;
    width: 306px;
    height: 45px;
    display: flex;
}
.search-note-1{
    background-color: #F6F7FB;
    border-radius: 50px;
    width: 100%;
    height: 45px;
}
.search-note input{
    width: 100%;
}
.search-note-icon{
    padding: 10px 20px;
}
.note-search{
    background-color: transparent;
    border: none;
    outline: none;
}
.upload-me{
    width: 40px;
    height: 40px;
    clip-path: circle();
}
@media screen and (max-width: 450px){
    .section-grid-container,
    .grid-cards{
        flex-direction: column;
        margin: 10px 0;
    }
    .grid-flex{
        flex-direction: column;
        margin-bottom: -24px;
    }
    .grid-flex .grid-cards:nth-child(2){
        margin: 0 !important;
    }
    .modal-2{
        right: 4px !important;
    }
}